.lecture_page {
  max-height: calc(100vh - 64px);
  overflow: auto;
  &:focus {
    outline: none;
  }
}

.back_button {
  margin: 12px 12px 0;
  position: fixed;
  z-index: 1;
}

.content {
  max-width: 600px;
  margin: 36px auto 0;
  padding: 0 24px 24px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.desktop {
  display: inline-block;
}

.mobile {
  display: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

@media (max-width: 480px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: inline-block;
  }
}
